.categories-dropdown {
  background-color: #dedede;
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  width: 450px;
  text-align: center;
}

select {
    text-align: center;
}
