.pageContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.userGreeting {
  font-size: 2rem;
  line-height: 1.5rem;
  text-align: left;
}

.taskField {
  padding: 10px;
  margin-top: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  height: fit-content;
}

.taskData {
  padding-top: 20px;
}

.left-sideItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.welcomeProgress {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: var(--offWhite);
  padding: 2.5rem;
}

.taskList-container {
  display: inline-block;
  width: 450px;
  max-height: 1000px;
  flex-direction: column;
  margin: 5rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 1rem 1rem 1rem 1rem;
  background-color: var(--offWhite);
}

.tasktab-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: var(--offWhite);
}

.nav-buttons-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 1rem;
}

.tasklist-buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 1rem;
  max-height: 500px;
}

.dailyPercentage {
  font-size: 72px;
}

.top-line {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}
